body {
  font-size: 14px;
  color: #484848;
  font-family: 'Circular', 'PingFang-SC', 'Hiragino Sans GB', '微软雅黑', 'Microsoft YaHei', 'Heiti SC';
}

.content {
  width: 1032px;
  margin: 0 auto;
}
